.consultation {
  display: flex;
  justify-content: center;
  &__img {
    padding-top: 88px;
    padding-bottom: 42px;


    @media(min-width:480px) {
      padding-top: 22px;
      padding-bottom: 45px;

    }

    @media(min-width:960px) {
      padding-top: 69px;
      padding-bottom: 180px;

    }

    @media(min-width:1024px) {
      padding-top: 74px;
      padding-bottom: 170px;

    }

    @media(min-width:1920px) {
      padding-top: 139px;
      padding-bottom: 327px;

    }

    @media(min-width:4096px) {
      padding-top: 296px;
      padding-bottom: 453px;
    }

  }
}
